.add-fictions {
  background: rgba(230, 230, 230, 1);
  padding: 0.92rem 1.25rem;
  cursor: pointer;
  span {
    vertical-align: middle;
  }
  .fa-stack {
    transform: scale(0.8);
  }
  i {
    color: rgb(174, 74, 32);
  }
  .text {
    margin-left: 1.1667rem;
    color: rgb(33, 33, 33);
  }
}