.tab {
  position: relative;
  background: rgb(249, 249, 249);
  border-bottom: 0.0833rem solid rgb(204, 204, 204);
  .tab-body {
    width: 50%;
    padding: 1.41667rem 0;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
    &:first-child {
      .tab-list {
        border-right: 0.041667rem solid rgb(187, 187, 187);
      }
    }
    .tab-list {
      display: block;
      text-align: center;
      color: rgb(74, 74, 74);
      i {
        display: block;
        font-size: 1rem;
        //transform: scale(0.9);
        font-style: normal;
      }
    }
  }
}
.border-bottom {
  position: absolute;
  z-index: 1;
  bottom: 0;
  display: inline-block;
  width: 50%;
  height: 0.1667rem;
  background: rgb(191, 0, 17);
  transition: all .15s linear;
}